{
  "presets": [
    [
      "env", {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "power-assert"{{#if_eq test "jest"}},
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]{{/if_eq}}
      ]
    }
  }
}
